:root {
  --main-font-color: rgb(73, 73, 73);
  --main-detail-color: rgba(0, 0, 0, 0.4);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  min-width: 720px;
  align-items: flex-start;
}
.cx_input {
  border: var(--main-detail-color) 1px solid;
  position: relative;
  margin-top: 30px;
  border-radius: 15px;
}
#lupa {
  position: absolute;
  top: 10px;
  left: 5px;
  pointer-events: none;
  fill: var(--main-detail-color);
  transform: scale(0.5);
  transform-box: fill-box;
  transform-origin: left top;
}
#logo {
  width: 300px;
  pointer-events: none;
}
.cx_pesquisa {
  /* border: green 5px solid; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}

.cx_pesquisa svg,
.cx_pesquisa input {
  display: block;
  margin: auto;
}
.cx_pesquisa input {
  width: 600px;
  border: none;
  font-size: 1.2em;
  text-align: center;
  height: 40px;
  color: var(--main-font-color);
  border-radius: 15px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
input:focus {
  outline: none !important;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
